body{

    margin-left: 150px;
    margin-right: 150px;
    background-color: #f0a2a2;  
}

h1 {
    color: #38585e;               
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.bio{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 30px;
}

.fotos{

    text-align: center;
    margin: 50px;

}

table {

    border-collapse: collapse;
    text-align: center;

}

td {

     border: 1px solid #999;
     padding: 10px;

}

.fotostabela {


     width: 150px;
     height: auto;
     border-radius: 6px;


}

a {

    font-size: 25px;
     color: blue;
    text-decoration: none;
}

a:hover {
     color: rgb(0, 0, 0); 
    text-decoration: underline;
}

.link{
    background-color: #999;
    margin: 50px;
    text-align: center;

}



button {
  background-color: #007BFF; 
  color: white;                
  border: none;                
  padding: 12px 24px;         
  border-radius: 6px;          
  font-size: 16px;             

}
.mensagem{
font-size: 25px;
 text-align: center;


}